export(
  agreementRateBinM  ,
  assignFinIdxPerClSkm ,
  assignIdxPerClMBinEM ,
  checkViews ,
  conceptIndicesSkm ,
  conceptVectorsSkm ,
  consensusMeansPerClVSkm ,
  dbern ,
  dcat ,
  estLogPxBernGthetaJ ,
  estLogPxCatGthetaJ ,
  logsum ,
  mApplyBern ,
  mApplyCat ,
  mvcmb ,
  mvcsph ,
  oFMixBinEM,
  oFSkm ,
  rowWUL ,
  UL ,
  vectorLength ,
  viewsClasses 
)

import(rattle) 
