export(mvcsph,
       mvcmb,
       checkViews,
       vectorLength,
       UL,
       rowWUL,
       oFSkm,
       conceptVectorsSkm,
       conceptIndicesSkm,
       consensusMeansPerClVSkm,
       assignFinIdxPerClSkm,
       dbern,
       mApplyBern,
       estLogPxGthetaJ,
       logsum,
       oFMixBinEM,
       assignIdxPerClMBinEM,
       agreementRateBinM
)
